---
layout: default
---
{% assign section = site.data.content['top'] %}		
{% if section %}
	<div class="wrapper first style2">
		<article class="container" id="top" style="margin-bottom: 2em">
			{% if section.images %}
				<div id="carousel">
				{% assign first_image = true %}
				{% for image in section.images %}
					{% if first_image %}
						<div><img style="width: 100%" src="{{ image.url }}"alt="Vis group header image"/></div>
						{% assign first_image = false %}
					{% else %}
						<div><img style="width: 100%" data-src="{{ image.url }}"alt="Vis group header image"/></div>
					{% endif %}
				{% endfor %}
				</div>
			{% endif %}
			{% if section.header %}<h1>{{ section.header }}</h1>{% endif %}
			{% if section.text %}<p>{{ section.text }}</p>{% endif %}
			{% if section.footer %}<footer><p>{{ section.footer }}</p></footer>{% endif %}
		</article>
	</div>
{% endif %}

<!-- SECTION About -->
{% assign section = site.data.content['about'] %}		
{% if section %}
	<div class="wrapper style2">
		<article class="container" id="about">
			<!-- content for ABOUT SECTION -->
			<h4 style="font-size: 1.8em">{{ section.header }}</h4>
			<p>{{ section.text }}</p>
			<footer><p>{{ section.footer }}</p></footer>
		</article>
	</div>
{% endif %}

<!-- SECTION People -->	
<div class="wrapper style2">
	<!-- START fill people  -->
	{% assign section = site.data.content['people'] %}	
	{% assign boxes_per_row = 3 %}				
	{% assign items_in_row = 0 %}
	
	
	{% if section %}	
	<article id="people" style="margin-bottom: 0">
		{% if section.header %}<h2>{{ section.header }}</h2>{% endif %}
		{% if section.text %}<p>{{ section.text }}</p>{% endif %}
		
		<div class="container" id="people-list">
		{% assign people = site.people | sort: 'sequence' %}
		{% for person in people %}
			{% if items_in_row == 0 %}
				<!--generate new row -->
				<div class="row">
			{% endif %}
		
			<div class="4u 12u(mobile)">
				{% if person.preferredLink %}
				<a class="linkbox" href="{{ person.preferredLink }}">
				{% else %}
				<a class="linkbox" href="{{ person.url }}">
				{% endif %}
					<div class="box style1">
						<span class="image circle top medium">
							<img data-src="{{ person.image }}" alt="{{ person.name }}"/>
						</span>
						<h3>{{ person.name }}</h3>
						<h4>{{ person.role }}</h4>
						{% if person.info %}
							<p>{{ person.info }}</p>
						{% endif %}
					</div>
				</a>
			</div>
			{% assign items_in_row = items_in_row | plus: 1 %}
				
			{% if items_in_row == boxes_per_row %}
				<!--close row -->
				</div>
				{% assign items_in_row = 0 %}
			{% endif %}
		{% endfor %}
		
		
		{% if items_in_row != 0 %}
			<!-- fill up remaining space with empty boxes -->
			{% assign num_empty_boxes = boxes_per_row | minus: items_in_row %}
			{% for num in (1..num_empty_boxes) %}
				<div class="4u 12u(mobile)"></div>
			{% endfor %}
			</div>
		{% endif %}
		</div>
		{% if section.footer %}<footer><p>{{ section.footer }}</p></footer>{% endif %}
	</article>
	{% endif %}


	
	<!-- START fill alumni -->
	{% assign section = site.data.content['alumni'] %}
	{% assign boxes_per_row = 2 %}				
	{% assign items_in_row = 0 %}
	
	{% if section %}	
	<article id="alumni">
		{% if section.header %}<h2>{{ section.header }}</h2>{% endif %}
		{% if section.text %}<p>{{ section.text }}</p>{% endif %}
		<div class="container" id="alumni-list">
		{% for person in site.data.alumni %}
			{% if items_in_row == 0 %}
				
				<div class="row">
			{% endif %}
			
			<div class="6u 12u(mobile)">
				{% if person.url %} 
				<a class="linkbox" href="{{ person.url }}" target="_blank">
				{% endif %}
					<div class="box style1">
						<span class="image circle leftcircle small">
							<img data-src="{{ person.image }}" alt="{{ person.name }}"/>
						</span>
						<h3>{{ person.name }}</h3>
						<h4>{{ person.role }}</h4>
						{% if person.info %}
							<p>{{ person.info }}</p>
						{% endif %}
					</div>
				{% if person.url %} 
				</a>
				{% endif %}
			</div>
			{% assign items_in_row = items_in_row | plus: 1 %}
				
			{% if items_in_row == boxes_per_row %}
				
				</div>
				{% assign items_in_row = 0 %}
			{% endif %}
		{% endfor %}
		
		{% if items_in_row != 0 %}
			
			{% assign num_empty_boxes = boxes_per_row | minus: items_in_row %}
			{% for num in (1..num_empty_boxes) %}
				<div class="6u 12u(mobile)"></div>
			{% endfor %}
			</div>
		{% endif %}
		</div>
		{% if section.footer %}<footer><p>{{ section.footer }}</p></footer>{% endif %}
	</article>
	{% endif %}

</div>

<!-- Research SECTION -->		
<div class="wrapper style2">
	{% assign section = site.data.content['research'] %}		
	{% if section %}	
	<article id="research">
		{% if section.header %}<h2>{{ section.header }}</h2>{% endif %}
		{% if section.text %}<p>{{ section.text }}</p>{% endif %}
		<div class="container" id="publication-list">
			<!--content for RESEARCH -->
			{% assign boxes_per_row = 2 %}		
			{% assign items_in_row = 0 %}
			{% for publication in site.research reversed %}
				{% unless publication.display and publication.display == 'selected' %}
					{% continue %}
				{% endunless %}
				
				{% if items_in_row == 0 %}
					<!--generate new row -->
					<div class="row">
				{% endif %}
				
				<div class="6u 8u(mobile)">
					<a class="linkbox open-modal" rel="modal:open" href="{{ publication.url }}">
						<article class="box style2 listbox relbox">
							<span class="image featured bottompadded">
								<img data-src="{{ publication.teaser }}" alt="{{ publication.title }}"/>
							</span>
							<h3>{{ publication.title }}</h3>
							<p>
							{% for author in publication.authors %}
								{% assign firstname = author | split: " " | first %}
								{% assign firstletter = firstname | truncate: 1, '' %}
								{% assign lastname = author | split: " " | last %}
								
								{{firstletter}}. {{lastname}}{% if forloop.last != true %},{% endif %}
							{% endfor %}
							{% if publication.shortvenue %}
								<br><i>{{publication.shortvenue}}</i>
							{% endif %}
							</p>
							<ul id="publication_links" class="iconlink bottom-right">
								{% if publication.pdf %}
								<li><a class="icon-file-pdf" target="_blank" rel="noopener" title="Download PDF" href="{{ publication.pdf }}"></a></li>
								{% endif %}
								<li><a class="icon-link-external" target="_blank" rel="noopener" title="Open publication page" href="{{ publication.url }}"></a></li>
							</ul>
						</article>
					</a>
				</div>
				{% assign items_in_row = items_in_row | plus: 1 %}
				
				{% if items_in_row == boxes_per_row %}
					<!--close row -->
					</div>
					{% assign items_in_row = 0 %}
				{% endif %}
			{% endfor %}
			{% if items_in_row != 0 %}
				<!-- fill up remaining space with empty boxes -->
				{% assign num_empty_boxes = boxes_per_row | minus: items_in_row %}
				{% for num in (1..num_empty_boxes) %}
					<div class="4u 12u(mobile)"></div>
				{% endfor %}
				</div>
			{% endif %}
		</div>
		{% if section.footer %}<footer><p>{{ section.footer }}</p></footer>{% endif %}
	</article>
	{% endif %}
	<footer><a href="publication_list.html" target="_blank"><button class="button slim rounded">View full publication list</button></a></footer>
</div>


<!-- SECTION Teaching -->
<div class="wrapper style2">
	{% assign section = site.data.content['teaching'] %}		
	{% if section %}	
		<article id="teaching">
			{% if section.header %}<h2>{{ section.header }}</h2>{% endif %}
			{% if section.text %}<p>{{ section.text }}</p>{% endif %}
			<div class="container" id="courses-list">
				<!--content for COURSES -->
				{% for course in site.data.teaching %}
					<div class="row">
						<div class="12u 12u(mobile)">
						<section class="box style2 leftalign">
						<span class="image left large rightpadded"><a href="{{course.url}}" target="_blank"><img alt="{{course.name}}" data-src="{{course.image}}"></a></span>
						<h3><a href="{{course.url}}" target="_blank">{{course.name}}</a></h3>
						<p>{{course.text}}</p>
						</section>
						</div>
					</div>
				{% endfor %}
			</div>
			{% if section.footer %}<footer><p>{{ section.footer }}</p></footer>{% endif %}
		</article>
	{% endif %}
</div>


<!-- SECTION Join US -->
<div class="wrapper style2">
	{% assign section = site.data.content['join'] %}		
	{% if section %}
		<article id="join">
			{% if section.header %}<h2>{{ section.header }}</h2>{% endif %}
			{% if section.text1 %}<p>{{ section.text1 }}</p>{% endif %}
			
			<div class="container">
			<section class="style2 leftalign">
			{% if section.text2 %}<p>{{ section.text2 }}</p>{% endif %}
			</section>
			</div>
			{% if section.projectheader %}<h3>{{ section.projectheader }}</h3>{% endif %}
			
			{% if section.text3 %}<p>{{ section.text3 }}</p>{% endif %}
			<div class="container" id="courses-list">
				<!--content for projects -->
				{% for project in site.data.projects %}
					<div class="row">
						<div class="12u 12u(mobile)">
						<section class="box style2 leftalign">
						<span class="image left large rightpadded">
						<a href="{{project.url}}" target="_blank">
						<img alt="{{project.name}}" data-src="{{project.image}}">
						</a>
						</span>
						<h3><a href="{{project.url}}" target="_blank">{{project.name}}</a></h3>
						<p>{{project.text}}</p>
						{% if project.pdf %}
						{% endif %}
						<a class="icon-file-pdf" target="_blank" rel="noopener" style="text-decoration: none" title="Download PDF" href="{{ project.pdf }}"> <span class="iconlink">more info</span></a>
						</section>
						</div>
					</div>
				{% endfor %}
			</div>
			<div><a href="mailto:peter.rautek@kaust.edu.sa" target="_blank"><button class="button slim rounded">Contact us!</button></a></div>
			{% if section.footer %}<footer><p>{{ section.footer }}</p></footer>{% endif %}
			
		</article>
	{% endif %}
</div>



<!-- SECTION Map -->

<div id="map" class="wrapper style2" style="margin-bottom: -2em"></div>

{% assign maps_settings = site.data.content['google_maps'] %}
 <!-- Replace the value of the key parameter with your own API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{maps_settings.key}}&callback=initMap">
</script>

<script>
	function initMap () {
  // Basic options for a simple Google Map
  // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
  var options = {
    // How zoomed in you want the map to start at (always required)
    zoom: 14,
	
    // The latitude and longitude to center the map (always required)
    // centered at KAUST campus
    center: {
      lat: 22.315,
      lng: 39.095    },

    disableDefaultUI: true,

    zoomControl: true,

    zoomControlOptions: {
      style: google.maps.ZoomControlStyle.SMALL
    },

    scrollwheel: false,

    // How you would like to style the map.
    // This is where you would paste any style found on Snazzy Maps.
    styles: [
      {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#808d99"
          }
        ]
      },
      {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f3f3f5"
          },
          {
            "lightness": 20
          }
        ]
      },
      {
        "featureType": "landscape",
        "elementType": "man_made",
        "stylers": [
          {
            "saturation": 0
          },
          {
            "lightness": -8
          },
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#ffffff"
          },
          {
            "lightness": 17
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#ffffff"
          },
          {
            "lightness": 29
          },
          {
            "weight": 0.2
          }
        ]
      },
      {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#ffffff"
          },
          {
            "lightness": 18
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#ffffff"
          },
          {
            "lightness": 16
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f3f3f5"
          },
          {
            "lightness": 21
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#d7dade"
          },
          {
            "lightness": 21
          }
        ]
      },
      {
        "elementType": "labels.text.stroke",
        "stylers": [
          {
            "visibility": "on"
          },
          {
            "color": "#ffffff"
          },
          {
            "lightness": 16
          }
        ]
      },
      {
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "saturation": 36
          },
          {
            "color": "#39414d"
          },
          {
            "lightness": 40
          }
        ]
      },
      {
        "elementType": "labels.icon",
        "stylers": [
          {
            "visibility": "on"
          },
          {
            "lightness": 0
          },
          {
            "saturation": -100
          }
        ]
      },
      {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f0f1f2"
          },
          {
            "lightness": 19
          }
        ]
      },
      {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#ffffff"
          },
          {
            "lightness": 20
          }
        ]
      },
      {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#ffffff"
          },
          {
            "lightness": 17
          },
          {
            "weight": 1.2
          }
        ]
      }
    ]
  };

  // Get the HTML DOM element that will contain your map
  // We are using a div with id="map" seen below in the <body>
  var element = document.getElementById('map');

  // Create the Google Map using our element and options defined above
  var map = new google.maps.Map(element, options);

  // Let's also add a marker while we're at it
  var marker = new google.maps.Marker({
    position: new google.maps.LatLng(22.308344, 39.104589),
    map: map,
    title: 'Visual Computing Center @ KAUST'
  });
}
</script>